---
import { getEntry, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const page = await getEntry("pages", "now");
const { Content, headings } = await render(page!);
---

<BaseLayout title={page!.data.title}>
  <article class="prose dark:prose-invert max-w-none">
    <h1>{page!.data.title}</h1>
    <nav>
      <ul>
        {headings.map((h) => (
          <li style={`margin-left: ${(h.depth - 2) * 1.5}em`}>
            <a href={`#${h.slug}`}>{h.text}</a>
          </li>
        ))}
      </ul>
    </nav>
    <Content />
  </article>
</BaseLayout>
