{{- with .Get "src" }}
  {{- with $r := (resources.GetRemote ($.Get "src")) }}
    {{- with $.Get "width" }}
      {{- with $r.Process (printf "resize %dx wepb" ($.Get "width" )) }}
        {{- $alt := or ($.Get "alt") "" -}}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}">
      {{- end }}
    {{- else }}
      {{- errorf "The %q shortcode requires a 'width' argument: see %s" $.Name $.Position }}
    {{- end }}
  {{- else }}
    {{- warnf "The %q shortcode was unable to find %s: see %s" $.Name ($.Get "src") $.Position }}
  {{- end }}
{{- else }}
  {{- errorf "The %q shortcode requires a 'src' argument: see %s" .Name .Position }}
{{- end -}}