{{ define "main" }}
  {{ .Content }}
  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
  <article>
    <div>
      <div>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
      <div>
        <h3>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h3>
        <p>{{ .Summary }}</p>
      </div>
    </div>
  </article>
  {{ end }}

  {{ with $paginator }}
    <ul>
      {{ range .Pagers }}
        <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
